body,html{
    background-color:#D8D8D8;
}
.container
{
    background-color:#D8D8D8;
    width:960px;
}
header
{
    height:50px;
    border:1px solid grey;
    margin-bottom:5px;
    margin-top:10px;
    text-align:center;
    font-size:150%;
    font-weight:600;
    background-color:white;
    padding-top:10px;
    font-family:arial;
}

footer
{
    margin-bottom:10px;
    margin-top:5px;
    height:80px;
    border:1px solid grey;
    text-align:center;
    background-color:white;
    font-family:arial;    
}
.wrapper
{
    min-height:300px;
    border:1px solid grey;
    background-color:white;
}
.question-number{
    margin-top:10px;
    font-family:arial;
    font-size:135%;
    padding-top:15px;
    font-weight:600;
}
.question-number > div{
	padding-left:0;
	padding-right:5px;
}

.question-number .glyphicon{
  color:red;
}
.test-controls
{
    background-color:white;
    min-height:300px;
    border-bottom:1px solid grey;
}
.question-block
{
    min-height: 300px;
    background-color:white;
    padding:15px;
    border-left:1px solid grey;
    border-bottom:1px solid grey;
}
.question
{
    font-size:175%;
    font-weight:700;
}
.answer
{
    font-size:150%;
}
.answer > label{
  display : block;
  cursor: pointer;
}
.ticket-thumbnail
{
    float : left;
}
.ticket-thumbnail > span{
  display:inline-block;
  font-weight:600;
  width:24px;
}
.ticket-thumbnail > span.marked{
  color:red!important;
}
.pages{
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
    font-weight:bold;
    width : 66%;  
  }
 .flag
 {
	margin-left:35px;
    margin-top:20px;
    color:red;
 }
 .flag:hover
 {
    color:red;
 }
 .clock
 {
    margin-top:60px;
    text-align: center;
 }
 
 #timer span{
  color: black;
  font-family:arial;
  font-size: 200%;
  font-weight: bold;
 }
 
 .fifty-fifty
 {
    margin-top:20px;
 }
 .prev-next
 {
    margin:20px auto;
    min-height:70px;
 }

 .left-pad-5{
	 padding-left:5px!important;
 }
  .left-pad-10{
	 padding-left:10px!important;
 }
 .text-center{
	margin-top:5px;
 }